.main{
    background-color: yellow;
    height: 1000px;
    width: 1000px;
}

.top{
    background-color: red;
    height: 100px;
}

.middle{
    background-color: blue;
    width: 750px;
    height: 820px;
    margin: auto;
}

.bottom{
    background-color: green;
    width: 750px;
    height: 80px;
    margin: auto;
}
